@layout("/common/_container.html"){
<script src="${ctxPath}/static/js/common/web-upload-file.js"></script>
<div class="ibox float-e-margins">
    <div class="ibox-content">
        <div class="form-horizontal">

            <div class="row">
                <div class="col-sm-6 b-r">
                    <#select id="item" name="养车开销项目" underline="true">
                    </#select>
                    <#input id="amount" name="金额" underline="true"/>
                    <#input id="km" name="累计公里数"/>
                </div>

                <div class="col-sm-6">
                    <#input id="remark" name="备注" underline="true"/>
                    <#fileupload id="testfile" name="文件上传" underline="true" />
                </div>
            </div>
			<div class="progress progress-striped" id="progressTipArea" style="margin-top: 20px;">
                <div id="progressBar" style="width: 0%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="0" role="progressbar" class="progress-bar progress-bar-info">
                </div>
            </div>
			<div id="progressBarNum"></div>
			
            <div class="row btn-group-m-t">
                <div class="col-sm-10">
                    <#button btnCss="info" name="提交" id="ensure" icon="fa-check" clickFun="CardetailInfoDlg.addSubmit()"/>
                    <#button btnCss="danger" name="取消" id="cancel" icon="fa-eraser" clickFun="CardetailInfoDlg.close()"/>
                </div>
            </div>
        </div>

    </div>
</div>
<script src="${ctxPath}/static/modular/account/cardetail/cardetail_info.js"></script>
@}
