<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.system.dao.CardetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.system.model.Cardetail">
        <id column="id" property="id" />
        <result column="item" property="item" />
        <result column="amount" property="amount" />
        <result column="km" property="km" />
        <result column="time" property="time" />
        <result column="remark" property="remark" />
        <result column="userid" property="userid" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, item, amount, km, time, remark, userid
    </sql>
    
    <select id="selectCardetail" resultType="map">
		select
		<include refid="Base_Column_List" />
		from t_cardetail
		where 1=1 
		<if test="itemid != null and itemid != 0">
			and (item = #{itemid} )
		</if>
		<if test="beginTime != null and beginTime != '' and endTime != null and endTime != ''">
			and (time between CONCAT(#{beginTime},' 00:00:00') and CONCAT(#{endTime},' 23:59:59'))
		</if>
	</select>

</mapper>
